
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

html,body{
   width:100%;
   height:100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #040D12;
}
.calc{
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
#display{
    width: 100%;
    height: 100px;
    font-size: 25px;
    text-align: right;
    background-color: transparent;
    border: none;
    color: white;
}
.btn-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.btn{
    width:50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    cursor: pointer;
}
.equals{
    background-color: #E55604;
}
.op{
    font-size: 15px;
    color: #5C8374;
}

