*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
   width:100%;
   height:100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: #FAF1E4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel{
   
    width: 90%;
    height: 90%;
    border-radius: 2%;
    overflow: hidden;
}
.p-top{
    background-color: #435334;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 10px;

}

.elem{
    display: flex;
    align-items: center;
    gap:10px;
    font-weight: 700;
    font-size: 25px;
}
.box{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    color: black;
    
}
.p-btm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #CEDEBD;
    width: 100%;
    height: calc(100% - 100px);
    padding: 15px;
    flex-wrap: wrap;
}
.bubble{
    display: flex;
    justify-content: center;
    align-items: center;
    width:60px;
    height: 60px;
    background-color: #435334;
    border-radius: 50%;
    color: white;
    font-weight: 500;
    font-size: 25px;
}
.bubble:hover{
    background-color: #242f19;
    cursor: pointer;
}